*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo{
    height: 100px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    border-bottom: 1px solid black;
    background-color: gray;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}

nav .logo{
    width: 220px;
    cursor: pointer;
}

.navigation{
    background: black;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}

.header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header h1{
    margin-top: 100px;
    font-size: 9vw;
    line-height: 10vw;
}

.btn-container {
    margin: 20px 0;
}

.header button{
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 40px;
    
} 
.header p{
    max-width: 500px;
    font-weight: 500;
}

.user-img{
    width: 80%;
    max-width: 480px;
    position: absolute;
    right: 5%;
    bottom: 0;
}

#about,#work,#contact{
    height: 100vh;
}

.header h1 span{
    background: linear-gradient(black,black);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}

.header h1 span:first-child{
    animation: textcolor1 4s linear infinite alternate;
}
.header h1 span:last-child{
    animation: textcolor2 4s linear infinite alternate;
}
@keyframes textcolor1 {
    0%{
        background-size: 0%; 
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
}

@keyframes textcolor2 {
    0%{
        background-size: 0%; 
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
}
.menu-icon{
    display: none;
}
@media only screen and (max-width:600px) {
    nav ul{
        position: absolute;
        width: 100%;
        background: black;
        color: white;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .navigation{
        display: none;
    }
    nav .logo{
        width: 150px;
    }
    nav ul li{
        margin: 10px;
        font-size: 20px;
    }
    .menu-icon{
        display: block;
        width: 50px;
    }
    .show-menu{
        max-height: 60px;
    }
}@media only screen and (max-width: 600px){
    .header{
        min-height: auto;
        padding: 0;
    }

    .user-img{
        width: 100%;
        right: auto;
        position: relative;
        margin-top: 100px;
    }
    .header-content{
        position: absolute;
        bottom: 0;
        padding: 0 10%;
        z-index: 2;
        padding-bottom: 40px;
        
    }
    .btn-container{
        margin: 5px 0 ; 
    }
    .header button{
        font-size: 14px;
        margin-right: 10px;
    }
    .header h1{
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}
